@using  GDR.Models.ModelsForViews;
@model User
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row">
            <h1>Editar usuário</h1>
        </div>

        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(model => model.First_Name)
                @Html.TextBoxFor(model => model.First_Name, null, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(model => model.First_Name)</span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Last_name)
                @Html.TextBoxFor(model => model.Last_name, null, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Last_name)</span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email, null, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Email)</span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Login)
                @Html.TextBoxFor(model => model.Login, null, new { @class = "form-control" })
                <span class="text-danger">@Html.ValidationMessageFor(model => model.Login)</span>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        @Html.ActionLink("Cancelar", "Index", "User", null, new { @class = "btn btn-light form-control", style = "margin-rigth: 5px" })
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-dark form-control" style="margin-left: 5px">Salvar</button>
                    </div>
                </div>
            </div>
        }

    </div>

