@model List<GDR.Models.User>
@{
    ViewData["Title"] = "Usuários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @Html.ActionLink("Adicionar usuário", "Register", "Account", null, new { @class = "btn btn-link" })
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Nome completo</th>
                    <th class="text-center">Login</th>
                    <th class="text-center">E-mail</th>
                    <th class="text-center" colspan="4">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (User u in Model)
                {
                    <tr>
                        <td class="text-center">@u.Id</td>
                        <td class="text-center">@u.First_Name @u.Last_name</td>
                        <td class="text-center">@u.UserName</td>
                        <td class="text-center">@u.Email</td>
                        <td class="text-center">@Html.ActionLink("Editar", "Edit", "User", new { id = @u.Id }, new { @class = "btn btn-link" })</td>
                        <td class="text-center">@Html.ActionLink("Deletar", "Delete", "User", new { id = u.Id }, new { @class = "btn btn-link" })</td>
                        <td class="text-center">@Html.ActionLink("Resetar Senha", "Reset", "User", new { @id = u.Id }, new { @class = "btn btn-link" })</td>
                        <td class="text-center">@Html.ActionLink("Alterar Perfil", "UpdatePerfil", "User", new { @id = u.Id }, new { @class = "btn btn-link" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>