@model GDR.Models.ModelsForViews.SchedulingViewModel
@{
    ViewData["Title"] = "Complemento suporte tecnico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="jumbotron">
        @using (Html.BeginForm(method: FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()
            <h5>Agendamento</h5>
            <div class="form-group">
                @Html.HiddenFor(model => model.Id)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Agendamento)
                @Html.EditorFor(m => m.Agendamento, null, null, new { @class="form-control"})
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        @Html.ActionLink("voltar", "ViewOrder", "Order", new { id = Model }, new { @class = "btn btn-secondary form-control" })
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success form-control">Enviar</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
