@model Order
@{
    ViewData["Title"] = "Visualisar Solicitação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .espace {
        margin: 5px;
    }
</style>
<div class="container">
    <div class="jumbotron">
        <div class="row" style="margin: 10px">

            @if (User.IsInRole("Admin") || User.IsInRole("Usuario") && (Model.Queue == GDR.Enumerators.Queue.Requisitante))
            {
                @Html.ActionLink("Enviar para triagem", "SendNextStep", "Order", new { @id = Model.Id, step = "triagem" }, new { @class = "btn btn-outline-dark espace" })
            }
            @if (User.IsInRole("Admin") || User.IsInRole("Triagem") && (Model.Queue == GDR.Enumerators.Queue.Triagem))
            {
                @Html.ActionLink("Encaminhar Para usuário", "SendNextStep", "Order", new { @id = Model.Id, step = "usuario" }, new { @class = "btn btn-outline-dark espace" })

                if (Model.Request.isDptoPayment == false)
                {
                    @Html.ActionLink("Enviar para Pagamento", "SendNextStep", "Order", new { @id = Model.Id, step = "pagamento" }, new { @class = "btn btn-outline-dark espace" })
                }
                else if (Model.Request.Approval == true)
                {
                    @Html.ActionLink("Enviar para técnico", "SendNextStep", "Order", new { @id = Model.Id, step = "tecnico" }, new { @class = "btn btn-outline-dark espace" })
                }
            }
            @if (User.IsInRole("Admin") || User.IsInRole("DPTO Pagamento") && (Model.Queue == GDR.Enumerators.Queue.DtoPagamento))
            {
                if (Model.Request.isDptoPayment == false)
                {
                    @Html.ActionLink("Recusar Solicitação", "RecuseRequest", "Order", new { @id = Model.Id }, new { @class = "btn btn-outline-dark espace" })
                    @Html.ActionLink("Aprovar Solicitação", "ApproveRequest", "Order", new { @id = Model.Id }, new { @class = "btn btn-outline-dark espace" })
                }
            }

            @if (User.IsInRole("Admin") || User.IsInRole("Tecnico") && (Model.Queue == GDR.Enumerators.Queue.Tecnico))
            {
                @Html.ActionLink("Encaminhar Para Suporte", "SendNextStep", "Order", new { @id = Model.Id, step = "n2" }, new { @class = "btn btn-outline-dark espace" })
                @Html.ActionLink("Complementar", "UpdateTechnicianOrder", "Order", new { @id = Model.Id }, new { @class = "btn btn-outline-dark espace" })
            }

            @if (User.IsInRole("Admin") || User.IsInRole("Nivel 2") && (Model.Queue == GDR.Enumerators.Queue.nivel2))
            {
                @Html.ActionLink("Encaminhar para Técnico", "UpdateSupporteOrder" , "Order", new { @id = Model.Id }, new { @class = "btn btn-outline-dark espace" })
            }
        </div>
        <div class="row" style="margin-left: 15px">
            <h5>Solicitação</h5>
            <div class="col-12">
                <div class="form-group">
                    <label for="id">Código da solicitação</label>:
                    @Html.DisplayFor(model => model.Id)
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.User):
                    @Html.DisplayFor(model => model.User.First_Name) @Html.DisplayFor(model => model.User.Last_name)
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Queue):
                    @Html.DisplayFor(model => model.Queue)
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Request):
                    @Html.DisplayFor(model => model.Request.Id) @Html.ActionLink("(Visualizar)", "ViewRequest", "Request", new { @id = Model.Request.Id })
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description):
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Attachment):
                    @Html.DisplayFor(model => model.Attachment)
                </div>
            </div>
            <div class="col-12">
                @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>
