@model Order
@{
    ViewData["Title"] = "Visualisar Solicitação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .espace {
        margin: 5px;
    }
</style>
<div class="container">
    <div class="jumbotron">
        <div class="row" style="margin: 10px">
            @await Html.PartialAsync("~/Views/Fragments/OrderCommandButtons.cshtml")
        </div>
        <div class="row" style="margin-left: 15px">
            <h5>Solicitação</h5>
            <div class="col-12">
                <div class="form-group">
                    <label for="id">Código da solicitação</label>:
                    @Html.DisplayFor(model => model.Id)
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.User):
                    @Html.DisplayFor(model => model.User.First_Name) @Html.DisplayFor(model => model.User.Last_name)
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Queue):
                    @Html.DisplayFor(model => model.Queue)
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Request):
                    @Html.DisplayFor(model => model.Request.Id) @Html.ActionLink("(Visualizar)", "ViewRequest", "Request", new { @id = Model.Request.Id })
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description):
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Attachment):
                    @Html.DisplayFor(model => model.Attachment)
                </div>
            </div>
            <div class="col-12">
                @Html.ActionLink("Voltar", "Index", "Home", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>
