@using GDR.Models;
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Autor</th>
            <th>Fila</th>
            <th>Status</th>
            <th>Aprovado ?</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.orders != null && ((List<Order>)ViewBag.orders).Count > 0)
        {
            foreach (Order o in ViewBag.orders)
            {
                <tr>
                    <td>@o.Id</td>
                    <td>@o.Description</td>
                    <td>@o.User.First_Name @o.User.Last_name</td>
                    <td>@o.Queue</td>
                    <td>@o.Request.Status</td>
                    <td>@( o.Request.isDptoPayment == false ? "Pendente" : o.Request.isDptoPayment == false && o.Request.Approval == false ? "Recusado" : "Aprovado")</td>
                    <td class="text-center justify-content-center">
                        @Html.ActionLink("Visualizar", "ViewOrder", "Order", new { @id = o.Id }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center" colspan="7">Não exite registros</td>
            </tr>
        }
    </tbody>
</table>